body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  text-transform: uppercase;
  background-color: #363636;
}

h1 { color: #e6c300; }

.table {
  margin-top: 20px;
  border: none;
  padding: 0;
  color: black;
}

.table td,
.table th {
  font-size: 20px;
  padding: 8px;
  text-align: center;
  background: #fff;
  width: 100px;
  height: 25px;
}

.data {
  font-weight: 600;
}

tr .min {
  color: green;
  background: rgba(147, 185, 147, 0.9);
}

tr .max {
  color: red;
  background: rgba(212, 182, 182, 0.9);
  ;
}

.search {
  width: 380px;
  height: 40px;
  padding: 5px 25px;
  border-radius: 20px;
  color: #fff;
  font-size: 18px;
  background-color: rgba(31, 127, 119, 0.329);
  outline: 0;
}

.widget {
  margin-top: 20px;
}

#from {
  margin-right: 20px;
}

.btn {
  margin-top: 10px;
}

#submit {
  width: 100px;
  height: 30px;
  border-radius: 15px;
  background: #4b4848;
  color: #fff;
}
